<div class="footer-section-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
  <div class="footer-section" fxFlex="25" fxFlex.xs="100">
  	<h1>Title</h1>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
  </div>
  <div class="footer-section" fxFlex="25" fxFlex.xs="100">
  	<h1>Title</h1>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
  </div>
  <div class="footer-section" fxFlex="25" fxFlex.xs="100">
  	<h1>Title</h1>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
  </div>
  <div class="footer-section" fxFlex="25" fxFlex.xs="100">
  	<h1>Longer title</h1>
  	<div class="rectangle-container">
  		<div class="rectangle first">
  		</div>
  		<div class="rectangle">
  		</div>
  		<div class="rectangle">
  		</div>
  	</div>
  </div>
</div>