// Size layout
$mobile-portrait:            '(max-width: 575px)';
$no-mobile:                  '(min-width: 576px)';
$tablet:                     '(min-width: 576px) and (max-width: 1199px)';
$tablet-portrait:            '(min-width: 576px) and (max-width: 991px)';
$tablet-landscape:           '(min-width: 992px) and (max-width: 1199px)';
$desktop:                    '(min-width: 1200px)';
$mobile-tablet:              '(max-width: 1199px)';
$mobile-tablet-portrait:     '(max-width: 991px)';
$desktop-small:              '(min-width: 576px) and (max-height: 554px)';
