<form [formGroup]="moneyExchangeForm" (ngSubmit)="calculateCurrencyExchange($event)">
  <div class="input-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="50" fxFlex.xs="100">
      <mat-form-field>
        <input
          matInput
          type="text"
          autocomplete="off"
          placeholder="USD"
          [textMask]="{mask: currencyMaskDollar}"
          formControlName="dollarCurrencyInput"
        >
      </mat-form-field>
    </div>
    <div fxFlex="50" fxFlex.xs="100">
      <mat-form-field>
        <input
          matInput
          type="text"
          autocomplete="off"
          placeholder="EU"
          [textMask]="{mask: currencyMaskEuro}"
          formControlName="euroCurrencyInput"
          readonly="true">
      </mat-form-field>
    </div>
  </div>
  <div class="button-container">
    <button mat-raised-button [disabled]="!currencyExchange || loading" color="primary" (click)="calculateCurrencyExchange($event)">Calculate</button>
  </div>
  <div class="loading-container" *ngIf="loading">
    <app-loading-icon></app-loading-icon>Loading currency...
  </div>
</form>
