:host {
  float: left;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  padding: 100px 0px 30px 0px;
  height: auto;
}

.input-container {
  margin-bottom: 30px;
  mat-form-field {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    input {
      margin: 10px 0px 10px 0px;
    }
  }
    
}

.button-container {
  width: 100%;
  button {
    margin-left:50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 575px) {
  :host {
    padding: 30px 0px 30px 0px;
  }
  .input-container {
    margin-bottom: 30px;
    mat-form-field {
      width: 90vw;
      input {
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}