:host {
	float: left;
	height: auto;
	width: 100%;
	padding: 30px 0px 30px 0px;
}

.container {
	margin-left: 25%;
	margin-right: 25%;

	.image-container {
		width: 100%;
		margin-bottom: 30px;

		.image-dummy {
			border-radius: 50%;
			height: 100px;
			width: 100px;
			background-color: #a6a6a6;
			margin-left: 50%;
			transform: translateX(-50%);
		}

	}

	.buttons-container {
		width: 100%;

		.button {
			height: 30px;
			background-color: #a6a6a6;
			border-radius: 5px;
			margin: 0px 10px 0px 10px;
		} 

	}

}
