@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'theme';

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px !important;
}

* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}

